body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 50px 20px;
    border-radius: 30px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.reseaux-sociaux {
    display: flex;
    align-items: center;
}

.reseaux-sociaux .icon {
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
    transition: color 0.3s;
}

.reseaux-sociaux .icon:hover {
    color: #ddd;
}

main {
    padding: 20px;
    text-align: center;
}

.intro {
    text-align: left;
    margin-bottom: 40px;
    color: white;


}

.produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.produit {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: calc(33% - 20px); /* Adjust width for three items per row with gap */
}

.produit img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.produit button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.produit button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

footer .reseaux-sociaux {
    justify-content: center;
}

footer .reseaux-sociaux .icon {
    margin: 0 10px;
}
